* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .navbar {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  background-color: #22577a;
  padding-left: 1em;
  padding-right: 1em;
}

.container .navbar .title {
  font-size: 1.5rem;
  margin-top: 1em;
  color: white;
  padding-left: 1em;
}

.container .navbar .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .navbar .menus a {
  font-weight: 600;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  background-color: #318ea0;
  margin: 1em 0;
  border: 1px solid transparent;
  border-radius: 10px;
  padding-left: 1em;
  height: 3rem;
}

.container .navbar .menus a i {
  margin-right: 0.5em;
  color: #253346;
}

.container .navbar .menus a:first-child {
  background-color: #22b3d3;
}

.container .navbar .menus a:hover {
  opacity: 0.7;
}

.container .navbar .back a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  background-color: #253346;
  border: 1px solid transparent;
  border-radius: 0.625rem;
  height: 3rem;
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 1em;
}

.container .navbar .back a:hover {
  opacity: 0.7;
}

.container .content {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  background-color: #334257;
}

.container .content .menu-title {
  background-color: #c7ebf3;
  margin: 2em;
  padding: 0.7em 2em;
  border-radius: 0.7em;
}

.container .content .menu-title h3 {
  color: #9fbdc3;
  min-width: 12rem;
}

.container .content .menu-title h3 span {
  color: #22b3d3;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .navbar {
    -webkit-box-flex: 0.1;
        -ms-flex: 0.1;
            flex: 0.1;
    padding: 0;
    margin: 0;
  }
  .container .navbar .title {
    display: none;
  }
  .container .navbar .menus {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .navbar .menus a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    margin: 1em 0.1em;
    width: 15%;
  }
  .container .navbar .menus a i {
    margin-right: 0;
  }
  .container .navbar .menus a span {
    display: none;
  }
  .container .navbar .back {
    display: none;
  }
  .container .content {
    -webkit-box-flex: 0.9;
        -ms-flex: 0.9;
            flex: 0.9;
  }
}

@media only screen and (max-width: 250px) {
  body {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */